/* tirando o padding e margin padrão do body*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variaveis css*/
:root{
  --cor-principal: #d56f3a;
}
.kanban{
  display: flex;
  justify-content: center;
  padding: 10px
}
.column{
  display: flex;
  flex-direction:column;
  gap:10px;
  padding: 10px;
  background-color: aquamarine;
  min-width:200px;
}
.item{ 
  background-color: white;
  padding:10px ;
  border-radius: 5px;
}
.dupla{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-items: center;
  gap: 1em;
}
/*
td:nth-child(2){
  background-color: #d56f3a;
}*/
.dupla img{
  width: 4em;
  height: 4em;
}
.dragging{
  opacity: .5;
}